* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header-background {
    position: relative;
    background-color: #4ea0ff;
    background-image: url(../img/pattern.png);
    height: 200px;
}

header img {
    width: 20%;
    position: absolute;
    bottom: 10%;
    margin-left: 1%;
}