* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main {
    margin: 0 1% 0 1%;
}

.header-background {
    position: relative;
    background-color: #4ea0ff;
    background-image: url(../img/pattern.png);
    height: 200px;
}

header img {
    width: 20%;
    position: absolute;
    bottom: 10%;
    margin-left: 1%;
}

.title-article {
    margin: 2% 0 2% 0;
}

.title-article h1 {
    font-size: 70px;
}

.title-article h2 {
    font-size: 30px;
    color: #c2c2c2;
    font-family: Arial, Helvetica, sans-serif;
}

.title-article h3 {
    font-size: 20px;
    color: #c2c2c2;
    font-family: Arial, Helvetica, sans-serif;
}

.author {
    color: #6ec6ee;
}

.photo-article {
    margin: 20px 0 20px 0;
}
.photo {
    width: 49%;
}

.text-article {
    font-size: 24px;
}

.highlited-text {
    background-color: yellow;
}

.text-list {
    margin: 20px;
}

.table-article {
    width: 100%;
    border-collapse: collapse;
}

.table-row-1,.table-row-2 {
    width: 25%;
}

.head-table {
    background-color: #20a9e5;
    color: white;
    font-weight: bold;
}

.blue-row {
    background-color: #b1e5f2;
}